:root {
  margin: 0;
  padding: 0;
  font-size: 16px;
  box-sizing: border-box;
}
html,
body,
main,
article,
aside,
header,
footer,
nav,
p,
h1,
h2,
h3,
h4,
h5,
h6,
b,
i,
iframe,
div,
span,
img,
figure,
figcaption,
code {
  margin: 0;
  padding: 0;
}
body {
  viewport-fit:auto;
  font-family: "Raleway", sans-serif;
  width: 100dvw;
  border-bottom: 10px solid black;
  background: linear-gradient(#84afcc, #86d6ee, #86d6ee);
  
}
.myGrid {
  width: 90%;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
}
.textContainer {
  grid-row: 1/2;
  margin: 2vh;
  width: 80ch;

  
}
.mediaContainer {
  background: url("../media/img/panamaxBG.webp") left top/100% no-repeat;
  height: 55vh;
  width: 100%;
  grid-row: 2/5;
  border-top: 10px solid black;

  /* overflow: hidden; */
}
.audioContainer {
  position: relative;
  left: 3%;
  top: 1%;
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}
model-viewer {
  width: 100vw;
  height: 100%;
}
h1{
  font-size: 3rem;

}
h2{
  font-size: 2rem;
  text-align: center;
}
p{
  margin-top: 2.3rem;
  font-size: 1.25rem;
  color:#124257;
}
span{
  color:#2c8db6;
  background-color: #fdede4;
  padding: 5px;
  line-height: 3rem;
  font-weight: bolder;
}