:root {
  margin: 0;
  padding: 0;
  font-size: 16px;
  box-sizing: border-box;
}
html,
body,
main,
article,
aside,
header,
footer,
nav,
p,
h1,
h2,
h3,
h4,
h5,
h6,
b,
i,
iframe,
div,
span,
img,
figure,
figcaption,
code {
  margin: 0;
  padding: 0;
}
body {
  viewport-fit: auto;
  font-family: "Raleway", sans-serif;
  max-width: minmax(100vw, 100%);
  /* border-bottom: 10px solid black; */
  background: linear-gradient(#84afcc, #86d6ee, #86d6ee);
}
#myGridID {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  width: 100%;
}
#textContainerID {
  grid-row-start: 1;
  grid-row-end: 2;
  margin-top: 1.5rem;
  margin-bottom: 2.5rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}
#mediaContainerID {
  grid-row-start: 2;
  grid-row-end: 5;
  background: url("../media/img/panamaxBG.webp") left top/100% no-repeat;
  border: 10px solid black;
  padding-left: 10px;
  padding-right: 10px;
  overflow: hidden;
  /* position:relative; */
}
#audioContainerID {
  /* position: absolute; */
  /* left: 25%;
  top: 0.5%; */
  margin-top: 1.5rem;
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}
model-viewer {
  position: relative;
  top: -5vh;
  width: 800px;
  height: 800px;
  margin-top: -5vh;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  /* border: 5px solid white; */
}
.empty {
  position: relative;
  top: -5vh;
  height: 25vh;
  width: 100%;
  /* background-color: green; */
}
h1 {
  font-size: 3rem;
  margin: 0;
}
h2 {
  font-size: 2rem;
  margin: 0;
}
p {
  margin-top: 2.3rem;
  font-size: 1.5rem;
  color: #124257;
}
span {
  color: #2c8db6;
  background-color: #fdede4;
  padding: 5px;
  line-height: 3rem;
  font-weight: bolder;
}
